extends ./layout/index
block slider 
    .slider 
        h1 Rio de Janeiro 
        em Aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet sodales lacinia. In hac habitasse platea dictumst. Donec condimentum maximus neque eu porta. Cras et iaculis risus. Quisque sit amet faucibus lorem, tempus tempus purus. Quisque ultrices augue quis fringilla gravida. Fusce ullamcorper mi lacus. Sed sit amet libero ut diam imperdiet vehicula. Mauris vel dui fermentum, euismod augue non, ornare nisi.

                p Cras condimentum erat neque, a aliquam justo interdum nec. Maecenas rutrum ex egestas felis tempus ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent pretium eu orci at pellentesque. Vestibulum velit risus, eleifend quis iaculis non, sagittis eget lorem. Morbi orci erat, eleifend ac consectetur vitae, congue ac erat. Donec a eleifend quam.
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid" )

        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales